---
layout: article
---

<style>
  figure {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 400px;
  }

  figure img {
    border-radius: 8px;
  }

  @media (max-width: 1020px) {
    figure {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>

<svelte:head>
  <title>About</title>
</svelte:head>

# about

今をときめくフロントエンドスタックの新生児 `svelte`  
のSSRフレームワーク `sapper` でテキトーに作ったブログ。  

ほぼテンプレート(超便利)

https://github.com/Charca/sapper-blog-template


- typescript
- mdsvex
- tailwind

を導入したあたりで力尽きた。

ソースはここ👇

https://github.com/harumaxy/MySapperBlog

